# Credit Card Retention Analysis

### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.graph_objs as go
from plotly.offline import iplot
sns.set()
pd.options.display.max_columns = 999

In [2]:
data = pd.read_csv('../data/BankChurners_v2.csv')

In [3]:
data = data[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',]]

In [4]:
data['Education_Level'] = data['Education_Level'].fillna('Unknown')
data['Marital_Status'] = data['Marital_Status'].fillna('Unknown')
data['Income_Category'] = data['Income_Category'].fillna('Unknown')

***

## Data Transformation: Binning

To bin our ages, we will need a couple data points: the min and max ages. Let's find those.

In [5]:
print(data['Customer_Age'].min())
print(data['Customer_Age'].max())

26
73

For more information, see the documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html).

In [11]:
bins= [25,30,40,50,60,70,80]
labels= ['20s','30s','40s','50s','60s','70s']
data['Customer_Age_bins']= pd.cut(data['Customer_Age'],bins=bins, labels= labels, include_lowest=True,right=False)

In [13]:
data[data["Customer_Age"]==40]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Customer_Age_bins
3,90035,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,40s
4,90036,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,40s
150,90182,Existing Customer,40,M,3,High School,Single,$80K - $120K,Blue,28,5,1,0,21617.0,0,21617.0,1.047,1351,22,0.467,0.000,40s
259,90291,Existing Customer,40,M,1,Graduate,Married,$40K - $60K,Blue,23,6,3,2,6990.0,1378,5612.0,0.730,1479,29,0.611,0.197,40s
271,90303,Existing Customer,40,M,2,Uneducated,Divorced,$60K - $80K,Blue,29,5,3,0,23603.0,0,23603.0,0.795,1382,31,1.067,0.000,40s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,100028,Attrited Customer,40,F,4,Uneducated,Divorced,Less than $40K,Blue,35,2,3,3,4423.0,2517,1906.0,0.840,8935,87,0.933,0.569,40s
10018,100050,Attrited Customer,40,F,2,Graduate,Single,Less than $40K,Blue,30,5,3,6,4458.0,0,4458.0,0.935,9640,70,0.707,0.000,40s
10056,100088,Existing Customer,40,F,3,Uneducated,Single,Less than $40K,Blue,33,4,3,2,3804.0,1917,1887.0,0.744,14321,102,0.759,0.504,40s
10078,100110,Existing Customer,40,M,3,High School,Divorced,$60K - $80K,Blue,36,3,1,2,16268.0,2517,13751.0,0.652,15925,124,0.824,0.155,40s
10092,100124,Attrited Customer,40,F,3,Graduate,Married,Unknown,Blue,25,1,2,3,6888.0,1878,5010.0,1.059,9038,64,0.829,0.273,40s